button{
    background-color: rgb(78, 76, 175);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;

} 
button:hover{
background-color: #e61818; 
color: rgb(12, 12, 12);
}

#firstest #secondest{
 margin-top: 30px;
 float: left;
 height: 50px;
}
img{
 padding-top: 10px;
 float: center;
 margin-right: 10px;
 margin-left: 10px;
 width: 150px;
 height: 150px;
}
#conteiner{
    position: absolute;
    right: 50%;
}